.employee {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 98vw;
  .nav {
    height: 10%;
    width: 100%;
    // border: 2px solid salmon;
    display: flex;
    padding-left: 1%;
    // align-items: center;
    gap: 40%;
    .logo {
      height: 100%;
      display: flex;
      align-items: center;
      img {
        height: 50px;
        width: 50px;
      }
    }
    .bio {
      display: flex;
      height: 100%;
      align-items: center;
      gap: 1rem;
      .avi {
        display: flex;
        align-items: center;
        img {
          height: 50px;
          width: 50px;
        }
      }
      span {
        h6 {
          font-family: Inika;
        }
      }
    }
  }
}
